.h3 {
  color: white;
  transition: color 1s ease;
}

.h3:hover {
  color: black;
}

.smLogo {
  height: 8em;
  width: 8em;
  padding: 5px;
  color: white;
  margin: 12px 5px;
}

.NavBarContainer input:checked socialMedia {
  animation: fadein 5s linear forwards;
}

@keyframes fadein {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.NavBar {
  background-image: linear-gradient(to bottom,  rgba(0,0,0,0.75) -10%,rgba(0,0,0,0) 100%);
}

.NavBarContainer {
  display: block;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.NavBarContainer input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 17px;
  left: 5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2; 
  -webkit-touch-callout: none;
}

.NavBarContainer span {
  display: block;
  top: 25px;
  left: 12px;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.NavBarContainer span:first-child {
  transform-origin: 0% 0%;
}

.NavBarContainer span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.NavBarContainer input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: black;
}

.NavBarContainer input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.NavBarContainer input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu {
  background: transparent;
  margin: -5px 45px 0px 0px;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 1.0s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu h3 {
	display: inline-flex;
  border: none;
  /* padding: 10px; */
  text-align: center;
  text-decoration: none;
  margin: 0px 20px;
	cursor: pointer;
	background: transparent;
  font-family: 'Saira', sans-serif;
  font-size: 1.8rem;
}

.NavBarContainer input:checked ~ ul {
  transform: none;
}